# Postgres
POSTGRES_USER=mobus
POSTGRES_PASSWORD=mobus_pass
POSTGRES_DB=mobus

# Backend
DATABASE_URL=postgresql://mobus:mobus_pass@postgres:5432/mobus
PORT=4000

# Frontend
VITE_API_URL=http://localhost:4000
